* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  flex-wrap: wrap;
  justify-content: center;
}
